<div>Дата: {{(data.executorId|executor|async)?.name}}</div>
<div>Исполнитель: {{data.date|date}}</div>
@if (data.extraFields?.recipient) {
  <div>Получатель: {{data.extraFields!.recipient!.value}}</div>
}
@if (data.extraFields?.docNumber) {
  <div>Номер документа: {{data.extraFields!.docNumber!.value}}</div>
}
<table
  tuiTable
  class="table table-striped table-hover"
  [style.width.%]="100"
  [columns]="columns"
>
  <thead>
  <tr tuiThGroup>
    <th tuiTh>Материал</th>
    <th tuiTh>Лот</th>
    <th tuiTh>Количество</th>
  </tr>
  </thead>
  <tbody
    tuiTbody
    [data]="data.usedLots"
  >
  <tr tuiTr *ngFor="let item of data.usedLots"></tr>
  </tbody>
</table>
