<form
  (ngSubmit)="onSubmit()"
  tuiAppearance="floating"
  tuiCardLarge
  tuiForm="m"
  [formGroup]="loginForm"
>
  <header tuiHeader>
    <h2 tuiTitle>Вход</h2>
  </header>
  <tui-textfield>
    <label tuiLabel>Email</label>
    <input tuiTextfield type="email" formControlName="email" />
    <tui-icon icon="@tui.mail" />
  </tui-textfield>

  <tui-textfield>
    <label tuiLabel>Пароль</label>
    <input
      tuiTextfield
      type="password"
      formControlName="password"
      placeholder="Минимум 8 символов"
    />
    <tui-icon icon="@tui.key" />
  </tui-textfield>

  <tui-error [error]="error()"></tui-error>

  <footer>
    <button tuiButton [disabled]="loginForm.invalid" type="submit">Войти</button>
    <a appearance="flat" tuiButton routerLink="/register"> => Зарегистрироваться </a>
  </footer>
</form>
