/* You can add global styles to this file, and also import other style files */
.row_deleted td {
  background-color: lightgrey;
  color: grey;
}

.table-actions {
  display: flex;
  justify-content: space-around;
}

.table {
  padding-top: 1rem;
}
