::ng-deep {
  tui-tabs {
    width: 100%;
  }
}

.logout-btn {
  margin-left: auto;
}

.content {
  padding-top: 1rem;
  display: grid;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.tabs {
  inline-size: calc(100% - 100px);
  justify-content: flex-end;
}

.logo {
  width: 100px;
}
